site_name: Info-Maths
site_url: https://info-maths.netlify.app/
site_author: David Couronné
site_description: >-
  Cours de NSI et de Mathématiques au lycée de Cornouaille

# Repository
repo_name: davidcouronne/info-maths
repo_url: https://github.com/davidcouronne/info-maths
edit_uri: edit/main/docs/
copyright: CC BY-SA / David Couronné

# Configuration
theme:
  name: material
  language: fr
  features:
    - content.code.copy
    # - announce.dismiss
    - content.code.annotate
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    # - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    # - toc.follow
    # - toc.integrate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

extra_javascript:
  #- javascripts/mathjax.js # mathjax
  #- https://polyfill.io/v3/polyfill.min.js?features=es6 # mathjax
  #- https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js #mathjax
  - javascripts/katex.js # katex
  - https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.js #katex
  - javascripts/clarity.js #microsoft clarity

extra_css:
  - stylesheets/extra.css
  - https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.css

extra:
  analytics:
    provider: google
    property: G-F1835NSKEC
  consent:
    title: Les Cookies
    description: >-
      Nous utilisons des cookies pour reconnaître vos visites répétées et vos préférences, ainsi que
      pour mesurer l'efficacité de notre site et si les utilisateurs
      trouver ce qu'ils recherchent. Avec votre consentement, vous nous aidez à
      améliorer notre site.
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:david-couronne@ac-rennes.fr
      name: Écrire à l'auteur

    - icon: fontawesome/brands/github
      link: https://github.com/davidcouronne/info-maths
      name: Dépôt git

    - icon: fontawesome/solid/school
      link: https://lycee-de-cornouaille-quimper.ac-rennes.fr
      name: Lycée de Cornouaille - Quimper

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
  - social
  - awesome-pages:
      collapse_single_pages: false
  - macros

markdown_extensions:
  - admonition
  - attr_list
  - abbr
  - pymdownx.details
  - pymdownx.superfences

  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true #   et cliquables.
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
