@keyframes ufo {

    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }

    20%,
    60% {
        transform: scale(1.5);
    }
}

.ufo {
    animation: ufo 1000ms infinite;
    color: green;
}